cfgv==3.5.0
cloudpickle==3.1.2
distlib==0.4.3
filelock==4.0.6
identify==2.6.20
joblib==1.6.0
narwhals==2.26.0
nodeenv==1.11.0
numpy==2.4.6
pandas==3.0.6
platformdirs==4.12.1
pre_commit==4.6.2
python-dateutil==2.9.0.post0
python-discovery==1.6.1
PyYAML==6.0.3
scikit-learn==1.9.1
scipy==1.17.1
six==1.17.0
threadpoolctl==3.7.0
tzdata==2026.4
virtualenv==21.13.0
